.login_center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.login_responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}


.sidebar{
	background: #515763;
    color: #fff;
    padding: 0;
}

.form-inline .form-group {
    margin: 10px 0;
}



.datetimepicker-hours th .switch {
    display: -webkit-box !important;
    visibility: hidden !important;
}